.lane {
  display: flex;
  padding-right: 80px;
  padding-right: var(--animalSize);
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 5px dashed tan;
  position: relative;
  /* height: 75px; */
  padding-top: -20px;
  /* height: calc(var(--animalSize) - 5px); */
  align-items: flex-end;
}
.lane.finished {
  border-bottom: 5px dashed yellowgreen;
}
.lane > .meta {
  position: absolute;
  top: 10px;
}
.lane > .meta.name {
  left: 10px;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.5;
}
.lane > .meta.rank {
  font-weight: bold;
  font-size: 0.8rem;
  word-break: keep-all;
  width: fit-content;
}
