:root {
  --animalSize: 80px;
}

@media only screen and (max-width: 600px) {
  :root {
    --animalSize: 60px;
  }
}

img.animal {
  width: 80px;
  width: var(--animalSize);
  height: 80px;
  height: var(--animalSize);
  position: relative;
  z-index: 10;
}
